<section class="crypto-search">
  <h1>Search</h1>

  <form class="search-form" method="GET">
    <input
      type="text"
      class="search-coin"
      name="query"
      value="{{query}}"
      placeholder="Search here..."
    />
    <select id="payment" name="paymentMethod">
        {{#each paymentOptions}}
      <option value="{{value}}" {{#if selected}}selected="{{selected}}"{{/if}}>{{label}}</option>
      {{/each}}
    </select>
    <button type="submit" class="btn-search">Search</button>
  </form>
  {{#if cryptos}}
    <div class="search-result">
      <div class="search-list">
        {{#each cryptos}}
          <div class="coin">
            <div class="coin-img">
              <img src="{{imageUrl}}" />
            </div>
            <div class="coin-info">
              <h1>{{title}}</h1>
              <p><span>Price: </span>${{price}}</p>
              <p><span>Payment: </span>{{paymentMethod}}</p>
            </div>

            <a href="/crypto/{{_id}}" class="btn-details">Details</a>
          </div>
        {{/each}}
      </div>
    </div>
  {{else}}
    <div class="no-match">
      <p>No match was found!</p>
    </div>
  {{/if}}
</section>