<main>
  <div class="container">
    <section class="details">
      <h1>Theater title: {{title}}</h1>
      <div>
        <img
          src="{{imageUrl}}"
        />
      </div>
    </section>

    <section class="details">
      <h3>Theater description</h3>
      <p>
        {{description}}
      </p>
      <div class="buttons">
        <a class="btn delete" href="{{_id}}/delete">Delete</a>
        <a class="btn edit" href="{{_id}}/edit">Edit</a>
        {{#if hasLiked}}
        <span class="liked">You have already liked this play!</span>
        {{else}}
        <a class="btn like" href="{{_id}}/like">Like</a>
        {{/if}}
      </div>
    </section>
  </div>
</main>
