<main>
  <div class="container">
    <section class="details">
      <h1>Theater title: {{title}}</h1>
      <div>
        <img src="{{imageUrl}}" />
      </div>
    </section>

    <section class="details">
      <h3>Theater description</h3>
      <p>
        {{description}}
      </p>
      <div class="buttons">
        {{#if isOwner}}
        <a class="btn delete" href="{{_id}}/delete">Delete</a>
        <a class="btn edit" href="{{_id}}/edit">Edit</a>
        {{/if}}
        {{#if hasLiked}}
          {{#unless isOwner}}
            <span class="liked">You have already liked this play!</span>
          {{/unless}}
        {{else}}
          {{#unless isOwner}}
            <a class="btn like" href="{{_id}}/like">Like</a>
          {{/unless}}
        {{/if}}
      </div>
    </section>
  </div>
</main>